.navbar{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #22df77;
    
}
nav{
   margin-top: -90px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    padding: 10px 20px;
    margin: 20px 5px;
}
nav ul li{
    list-style: none;
    margin: 20px 5px;
    
    margin-bottom: 60px;
}
nav a{
    text-decoration: none;
    color: #043F1F;
    font-weight: bold;
    cursor: pointer;
}
nav li a:hover{

    background-color: #043F1F;
    color: #52F99D;
    background: linear-gradient(to right,#043F1F,#419868);
    border-radius: 10px;
}

#btn-logout{
    width: 100px;
    height: 40px;
    
    background: linear-gradient(to right,#043F1F,#52f29a);

    border: 1px solid #76ffbb;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 15px;
    width: 70px;
    height: 30px;
    background: linear-gradient(to bottom,#4cd389,#013d1c);
    color: #02fd7f;
}
#btnLogout:hover{
    background: linear-gradient(to bottom,#013d1c,#4cd389);
    
}

@media screen and (max-width:468px){
    nav{
        width: 100%;
        display: inline-block;
        height: 55vh;
        text-align: center;
        padding: 6px 4px;
    }

    nav li{
        
        margin: 10px 0px;
    }
    nav li:hover{
        background-color: red;
        color: #52F99D;
    }
    nav li:nth-child(2){
        margin-left: -15px;
    }
    nav li:nth-child(3){
        margin-left: -25px;
    }
    nav li:nth-child(3){
        margin-left: -25px;
    }
    nav li:nth-child(4){
        margin-left: -32px;
    }
}

/* ---------------------------------------------- */

/* 

.navbar{
    width: 100%;
    background-color: #22df77;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    list-style: none;
    margin:0;
    padding: 0;
    transition:  all 0.3s ease;
}

nav ul li {
    margin: 0 0.5rem;
}

nav ul li a{
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #043F1F;
    font-weight: bold;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: linear-gradient(to-right,#043F1F,#419868);
    color: #52F99D;
}

.btn-logout{
    padding: 0.5rem 1rem;
    background: linear-gradient(to-bottom,#4cd389,#013d1c);
    color: #02fd7f;
    border: 1px solid #76ffbb;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-logout:hover{
    background: linear-gradient(to-bottom,#013d1c,#4cd389);
}

.menue-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.menue-toggle span{
    display: block;
    height: 3px;
    width: 100%;
    background-color: #043F1F;
    border-radius: 3px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    .menue-toggle{
        display: flex;
    }

    .nav ul {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #22df77;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        clip-path: circle(0px at 90% -10%);
        -webkit-clip-path: circle(0px at 90% -10%);
        transition: all 0.5s ease-out;
        pointer-events: none;
    }

    nav ul:active{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path:circle(1000px at 90% -10%);
        pointer-events: all;
    }


    nav ul li {
        margin: 0.5rem 0;
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        padding: 1rem;
        width: 100%;
    }

    .btn-logoout{
        width: 80%;
        margin: 0.5rem auto;
    }

} */
