
<div type="form" class="bookingForm">
  <div class="row">
    <label for="inpFrom">From: </label>
    <input type="text" name="" id="inpFrom" />
  </div>
  <div class="row">
    <label for="inpTo">To: </label>
    <input type="text" name="" id="inpTo" />
  </div>
  <div class="row">
    <label for="inpPeople">People: </label>
    <input type="number" name="" id="inpPeople" />
  </div>
  <div class="row">
    <label for="inpItemId">Item ID: </label>
    <input type="text" name="" id="inpItemId" />
  </div>
  <div class="row">
    <label for="inpPrice">Price: </label>
    <input type="text" name="" id="inpPrice" />
  </div>
  <div class="row">
    <label for="inpDescrp">Description: </label>
    <input type="text" name="" id="inpDescrp" />
  </div>
  <button class="btnConfirm">Confirm</button>
</div>
