<div class="roomCard">
  <div class="imgCont">
    <img src="" alt="room.png" />
    <button class="btnBook">Book</button>
  </div>
  <div class="statusCont">
    <div class="statCircle">
      <span>Available</span>
    </div>
  </div>
  <div class="detailCont">
    <div class="contDet">
      <span id="txtDescrp">hashldd ashshgd</span><br />
      <span id="packs">Packs</span><br />
      <span class="spnPrc">$ <span id="roomPrc">40</span></span
      ><br />
      <span id="duration">Per Day</span>
    </div>
  </div>
</div>
